
$width: (
    property: width,
    class: w,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      85: 85%,
      90: 90%,
      98: 98%,
      100: 100%,
      auto: auto
    )
  );

$secondary: #AEFEFF;
$success: #072227;
$dark: #EDF2EF;




@import "../node_modules/bootstrap/scss/bootstrap";


